* {
	margin: 0;
	padding: 0;
}

#navBar{
	display: block;
	margin: 30px auto;

}

#container {
	height: 600px;
	width: 600px;
	margin: 30px auto;

}

#grid {
	background-color: #000000;
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
}
